services:
  # Traefik - Reverse proxy for subdomain routing
  traefik:
    image: traefik:v3.6
    container_name: traefik-media
    command:
      - --api.dashboard=true
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=media_media-network
      - --entrypoints.web.address=:80
      - --log.level=INFO
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${DOMAIN:-media.tap}`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=web"

  # Plex Media Server - with GPU hardware transcoding (PlexPass)
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    restart: always
    pull_policy: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: cdi
              device_ids:
                - nvidia.com/gpu=all
              capabilities:
                - gpu
    environment:
      - TZ=${TZ:-America/Toronto}
      - PUID=0
      - PGID=0
      - VERSION=latest
      - PLEX_CLAIM=${PLEX_CLAIM:-}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - ./config/plex:/config
      - /tmp:/transcode
      - media:/media
    labels:
      - "traefik.enable=false"

networks:
  media-network:
    driver: bridge

volumes:
  media:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=tower.tap,nfsvers=4,soft,nolock,rw"
      device: ":/mnt/user/media"
