services:
  # Traefik - Reverse proxy for subdomain routing
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      - --api.dashboard=true
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=arr_media-network
      - --entrypoints.web.address=:80
      - --log.level=INFO
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${DOMAIN:-arr.tap}`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=web"
      # Homepage labels
      - "homepage.server=arr"
      - "homepage.group=Media"
      - "homepage.name=Traefik (arr)"
      - "homepage.icon=traefik.png"
      - "homepage.href=http://traefik.${DOMAIN:-arr.tap}"
      - "homepage.description=Reverse Proxy"
      - "homepage.widget.type=traefik"
      - "homepage.widget.url=http://traefik:8080"

  # VPN Container - All torrent traffic routes through this
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "8112:8112"
      - "58846:58846"
      - "58946:58946"
    volumes:
      - ./config/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=${VPN_TYPE:-wireguard}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - SERVER_COUNTRIES=${SERVER_COUNTRIES}
      - TZ=${TZ:-America/Toronto}
      - FIREWALL_OUTBOUND_SUBNETS=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.deluge.rule=Host(`deluge.${DOMAIN:-arr.tap}`)"
      - "traefik.http.routers.deluge.entrypoints=web"
      - "traefik.http.services.deluge.loadbalancer.server.port=8112"
      # Homepage labels
      - "homepage.server=arr"
      - "homepage.group=Downloads"
      - "homepage.name=Deluge"
      - "homepage.icon=deluge.png"
      - "homepage.href=http://deluge.${DOMAIN:-arr.tap}"
      - "homepage.description=Torrent Client (VPN)"
      - "homepage.widget.type=deluge"
      - "homepage.widget.url=http://gluetun:8112"
      - "homepage.widget.password={{HOMEPAGE_VAR_DELUGE_PASSWORD}}"

  # Deluge - Torrent client (routed through VPN)
  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    network_mode: "service:gluetun"
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-America/Toronto}
      - DELUGE_LOGLEVEL=info
    volumes:
      - ./config/deluge:/config
      - downloads:/data/downloads
      - downloads-incomplete:/data/downloads/incomplete
    restart: always
    depends_on:
      - gluetun

  # SABnzbd - Usenet downloader
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-America/Toronto}
    volumes:
      - ./config/sabnzbd:/config
      - downloads:/data/downloads
      - downloads-incomplete:/data/downloads/incomplete
    ports:
      - "8081:8080"
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.${DOMAIN:-arr.tap}`)"
      - "traefik.http.routers.sabnzbd.entrypoints=web"
      - "traefik.http.services.sabnzbd.loadbalancer.server.port=8080"
      # Homepage labels
      - "homepage.server=arr"
      - "homepage.group=Downloads"
      - "homepage.name=SABnzbd"
      - "homepage.icon=sabnzbd.png"
      - "homepage.href=http://sabnzbd.${DOMAIN:-arr.tap}"
      - "homepage.description=Usenet Client"
      - "homepage.widget.type=sabnzbd"
      - "homepage.widget.url=http://sabnzbd:8080"
      - "homepage.widget.key={{HOMEPAGE_VAR_SABNZBD_KEY}}"

  # Prowlarr - Indexer manager
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-America/Toronto}
    volumes:
      - ./config/prowlarr:/config
    ports:
      - "9696:9696"
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.${DOMAIN:-arr.tap}`)"
      - "traefik.http.routers.prowlarr.entrypoints=web"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      # Homepage labels
      - "homepage.server=arr"
      - "homepage.group=Media"
      - "homepage.name=Prowlarr"
      - "homepage.icon=prowlarr.png"
      - "homepage.href=http://prowlarr.${DOMAIN:-arr.tap}"
      - "homepage.description=Indexer Manager"
      - "homepage.widget.type=prowlarr"
      - "homepage.widget.url=http://prowlarr:9696"
      - "homepage.widget.key={{HOMEPAGE_VAR_PROWLARR_KEY}}"

  # Jackett - Legacy indexer proxy
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-America/Toronto}
      - AUTO_UPDATE=true
    volumes:
      - ./config/jackett:/config
      - downloads:/data/downloads
    ports:
      - "9117:9117"
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jackett.rule=Host(`jackett.${DOMAIN:-arr.tap}`)"
      - "traefik.http.routers.jackett.entrypoints=web"
      - "traefik.http.services.jackett.loadbalancer.server.port=9117"
      # Homepage labels
      - "homepage.server=arr"
      - "homepage.group=Media"
      - "homepage.name=Jackett"
      - "homepage.icon=jackett.png"
      - "homepage.href=http://jackett.${DOMAIN:-arr.tap}"
      - "homepage.description=Indexer Proxy"

  # FlareSolverr - Cloudflare bypass proxy
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=${TZ:-America/Toronto}
    ports:
      - "8191:8191"
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flaresolverr.rule=Host(`flaresolverr.${DOMAIN:-arr.tap}`)"
      - "traefik.http.routers.flaresolverr.entrypoints=web"
      - "traefik.http.services.flaresolverr.loadbalancer.server.port=8191"
      # Homepage labels
      - "homepage.server=arr"
      - "homepage.group=Media"
      - "homepage.name=FlareSolverr"
      - "homepage.icon=flaresolverr.png"
      - "homepage.href=http://flaresolverr.${DOMAIN:-arr.tap}"
      - "homepage.description=Cloudflare Bypass"

  # Sonarr - TV show management
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-America/Toronto}
    volumes:
      - ./config/sonarr:/config
      - tv:/data/media/tv
      - downloads:/data/downloads
    ports:
      - "8989:8989"
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.${DOMAIN:-arr.tap}`)"
      - "traefik.http.routers.sonarr.entrypoints=web"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      # Homepage labels
      - "homepage.server=arr"
      - "homepage.group=Media"
      - "homepage.name=Sonarr"
      - "homepage.icon=sonarr.png"
      - "homepage.href=http://sonarr.${DOMAIN:-arr.tap}"
      - "homepage.description=TV Shows"
      - "homepage.widget.type=sonarr"
      - "homepage.widget.url=http://sonarr:8989"
      - "homepage.widget.key={{HOMEPAGE_VAR_SONARR_KEY}}"

  # Radarr - Movie management
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-America/Toronto}
    volumes:
      - ./config/radarr:/config
      - movies:/data/media/movies
      - downloads:/data/downloads
    ports:
      - "7878:7878"
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.${DOMAIN:-arr.tap}`)"
      - "traefik.http.routers.radarr.entrypoints=web"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      # Homepage labels
      - "homepage.server=arr"
      - "homepage.group=Media"
      - "homepage.name=Radarr"
      - "homepage.icon=radarr.png"
      - "homepage.href=http://radarr.${DOMAIN:-arr.tap}"
      - "homepage.description=Movies"
      - "homepage.widget.type=radarr"
      - "homepage.widget.url=http://radarr:7878"
      - "homepage.widget.key={{HOMEPAGE_VAR_RADARR_KEY}}"

  # Jellyseerr - Media request management
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=info
      - TZ=${TZ:-America/Toronto}
    volumes:
      - ./config/jellyseerr:/app/config
    ports:
      - "5055:5055"
    networks:
      - media-network
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyseerr.rule=Host(`jellyseerr.${DOMAIN:-arr.tap}`)"
      - "traefik.http.routers.jellyseerr.entrypoints=web"
      - "traefik.http.services.jellyseerr.loadbalancer.server.port=5055"
      # Homepage labels
      - "homepage.server=arr"
      - "homepage.group=Media"
      - "homepage.name=Jellyseerr"
      - "homepage.icon=jellyseerr.png"
      - "homepage.href=http://jellyseerr.${DOMAIN:-arr.tap}"
      - "homepage.description=Media Requests"
      - "homepage.widget.type=jellyseerr"
      - "homepage.widget.url=http://jellyseerr:5055"
      - "homepage.widget.key={{HOMEPAGE_VAR_JELLYSEERR_KEY}}"

networks:
  media-network:
    driver: bridge

# Only media on NFS - configs are local (./config/)
volumes:
  downloads:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=tower.tap,nfsvers=4,soft,nolock,rw"
      device: ":/mnt/user/downloads"

  movies:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=tower.tap,nfsvers=4,soft,nolock,rw"
      device: ":/mnt/user/media/movies"

  tv:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=tower.tap,nfsvers=4,soft,nolock,rw"
      device: ":/mnt/user/media/tv"

  downloads-incomplete:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=tower.tap,nfsvers=4,soft,nolock,rw"
      device: ":/mnt/user/downloads/incomplete"
